<div class="product-header">
  <h1>Thùng rác</h1>
  <a href="/products">Tất cả sản phẩm</a>
</div>
<div class="row">

<div class="product-cta">

<div class="checkbox-group">
    <input type="checkbox" id="select-all" name="select-all">
    <label for="select-all">Chọn tất cả</label>
</div>
<div class="select-group">
    <select id="select-input" class="select-input">
        <option value="">---</option>
        <option value="">Xóa</option>
        <option value="">Khôi Phục</option>
    </select>
    <button class="select-all-btn">Thực Hiện</button>
</div>
</div>

<table class="products-table">
    <tr>
        <th>Chọn</th>
        <th style="width: 60%">Tên sản phầm</th>
        <th colspan="2">Hành động</th>
    </tr>
    {{#each products}}
    <tr>
        <td style="text-align: center;"><input type="checkbox" id="select-item" name="select-item"></td>
        <td>{{this.name}}</td>
        <td><a href="/products/force_delete/{{this._id}}">Xóa vĩnh viễn</a></td>
        <td><a href="/products/restore/{{this._id}}">khôi phục</a></td>
    </tr>
    {{else}}
    {{!-- <img src="/images/not_found.png" alt=""> --}}
        <tr>
            <td colspan="3" style="text-align: center; border: none; font-weight: 500">
            Thùng rác trống<a href="/products">, Về danh sách sản phẩm</a>
            </td>
            </tr>
    {{/each}}
</table>