
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Learn Express</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    {{!-- <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" 
      integrity="sha512-LeCmts7kEi09nKc+DwGJqDV+dNQi/W8/qb0oUSsBLzTYiBwxj0KBlAow2//jV7jwEHwSCPShRN2+IWwWcn1x7Q==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" /> --}}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <div class="app">

      <div class="header">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/products">Products</a>
          <a href="/products/create">Create</a>
          <a href="/login">Login</a>
        </div>
        <form class="header-input" method="POST" action="/products/find">
          <input
            id="search"
            name="search"
            type="text"
            placeholder="Search..."
            autocomplete="off"
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="container">


          {{{body}}}
      </div>

    </div>

  </body>
</html>